<html>
    <head>
	<meta charset="utf-8">
	<title>insert working title here</title>

	<link rel="stylesheet" href="/static/css/style.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">    

	<script tyep="text/javascript" src="/static/js/smoothie.js"></script>

	<link rel="icon" type="image/png" href="https://pic.onlinewebfonts.com/svg/img_99128.png">
    </head>


    <body {{ if eq .VMODE "dark" }} class="dark" {{ end }} >
	<section class="hero is-info is-large block">
	    <div class="hero-head">
		<nav class="navbar">
		    <div class="navbar-brand">
			<a class="navbar-item mx-4" href="/">
			    <img src="https://pic.onlinewebfonts.com/svg/img_99128.png" alt="Logo">
			</a>
			<span class="navbar-burger" data-target="navbarMenuHeroB">
			    <span></span>
			    <span></span>
			    <span></span>
			</span>
		    </div>
		    <div id="navbarMenuHeroB" class="navbar-menu">
			<div class="navbar-end">
			    <a class="navbar-item mr-4" id="dark-mode-trig">
				{{ if eq .VMODE "light" }}
				<span class="icon is-left">
				    <i class="fas fa-moon"></i>
				</span>
				{{ else }}
				<span class="icon is-left">
				    <i class="far fa-sun"></i>
				</span>
				{{ end }}
			    </a>
			    <a class="navbar-item" href="/">
				Home
			    </a>
			    <a class="navbar-item" href="/about">
				About
			    </a>
			    {{ if .USER }}
			    <a class="navbar-item" href="/admin">
				Admin
			    </a>
			    {{ else }}
			    <a class="navbar-item" href="/signup">
				Signup
			    </a>
			    {{ end }}		
			</div>
		    </div>
		</nav>
	    </div>
	</section>
	<div class="channel">
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="modal has-text-centered" id="video-container">
	  <div class="modal-background">
	  </div>
	  <div class="modal-content">
	    <div class="is-4by3">
	      <video class="modal-video" controls></video>
	    </div>
	  </div>
	  <span class="icon modal-close is-large">
	    <i class="fa-regular fa-circle-xmark"></i>
	  </span>
	</div>
	<div class="overlay">
	    <div class="chat box m-0 p-0" style="overflow-y:auto;">
	    </div>

	    <div id="affiance">
		{{ if .USER }}
		<div class="control has-icons-right">
		    <input class="input" type="text" placeholder="Chatting as {{ .USER }}" style="font-family:monospace;"></input>
		    <i class="icon is-right has-text-success">
			<i class="fa-solid fa-paper-plane"></i>
		    </i>
		</div>
		{{ else if .VIEWER }}
		<div class="control has-icons-right">
		    <input class="input" type="text" placeholder="Chatting as {{ .VIEWER }}" style="font-family:monospace;"></input>
		    <i class="icon is-right has-text-success">
			<i class="fa-solid fa-paper-plane"></i>
		    </i>
		</div>
		{{ else }}
		<div class="level is-mobile">
		    <div class="level-left m-2">
			<div class="level-item">
			    <p class="title is-5 is-size-5-touch mx-2">Please sign in to enable chat.</p>
			</div>
			<div class="level-item" onclick="google_sign_in()">
			    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				<i class="fa-brands fa-google"></i>
			    </span>
			</div>
			<div class="level-item" onclick="facebook_sign_in()">
			    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				<i class="fa-brands fa-facebook"></i>
			    </span>
			</div>
			<div class="level-item" onclick="anon_sign_in()">
			    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				<i class="fa-solid fa-hat-cowboy"></i>
			    </span>
			</div>
		    </div>
		</div>
		{{ end }}
	    </div>
	    <div class="stats box m-0 p-0" style="display:none;">	
	    </div>
	</div>
    </body>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
    <script>
     // User Authentication
     let sign_in = function (viewer) {
	 let affiance = document.querySelector("#affiance");
	 affiance.innerHTML = "";

	 let display_name;
	 if(viewer.displayName) {
	     display_name = viewer.displayName.split(' ')[0];
	 } else {
	     display_name = "anon"
	 };
	 
	 let chattable =
	     `
	 <div class="control has-icons-right">
	 <input class="input" type="text" placeholder="Chatting as ` + display_name + `" style="font-family:monospace;" onkeypress="chat_send(event)"></input>
	 <span class="icon is-right has-text-success chat-submit" onclick="chat_test();">
	 <i class="fa-solid fa-paper-plane"></i>
	 </span>
	 </div>
	     `;
	 affiance.insertAdjacentHTML("afterbegin", chattable);
     }

     let sign_out = function () {
	 let affiance = document.querySelector("#affiance");
	 affiance.innerHTML = "";

	 let prompt =
	     `
		    <div class="level is-mobile">
			<div class="level-left m-2">
			    <div class="level-item">
				<p class="title is-5 is-size-5-touch mx-2">Please sign in to enable chat.</p>
			    </div>
			    <div class="level-item" onclick="google_sign_in()">
				<span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				    <i class="fa-brands fa-google"></i>
				</span>
			    </div>
			    <div class="level-item" onclick="facebook_sign_in()">
				<span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				    <i class="fa-brands fa-facebook"></i>
				</span>
			    </div>
			    <div class="level-item" onclick="anon_sign_in()">
				<span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				    <i class="fa-solid fa-hat-cowboy"></i>
				</span>
			    </div>
			</div>
		    </div>
	     `;

	 affiance.insertAdjacentHTML("afterbegin", prompt);
     }

     window.sign_in = sign_in;
     window.sign_out = sign_out;

     // Add channel
     document.querySelector(".channel").insertAdjacentHTML("afterbegin", {{ .CHANNEL }});

     // Loudness Graphs
     let line1 = new TimeSeries();
     let line2 = new TimeSeries();

     let smoothie;
     
     // Set loudness graph initialiser
     let init_loudness_graph = function (origin) {
	 var smoothie = new SmoothieChart({
	     grid: { strokeStyle:'rgb(125, 0, 0)', fillStyle:'rgb(60, 0, 0)',
		     lineWidth: 1, millisPerLine: 250, verticalSections: 6, },
	     maxValue:-20,
	     minValue:-50,
	     labels: { fillStyle:'rgb(60, 0, 0)' }
	 });

	 smoothie.streamTo(document.getElementById("loudness"));
	 
	 smoothie.addTimeSeries(line1,
				{ strokeStyle:'rgb(0, 255, 0)', fillStyle:'rgba(0, 255, 0, 0.4)', lineWidth:3 });
	 smoothie.addTimeSeries(line2,
				{ strokeStyle:'rgb(255, 0, 255)', fillStyle:'rgba(255, 0, 255, 0.3)', lineWidth:3 });
     };

     //init_loudness_graph();

     // Dark/Light mode
     let body = document.querySelector("body");
     let toggle = document.getElementById("dark-mode-trig");
     let icon = toggle.childNodes[1].childNodes[1];
     toggle.addEventListener("click", () => {
	 let check = body.classList.contains("dark");
	 if (check) {
	     document.cookie = "vmode=light";
	     body.className = "";
	     icon.className = "fas fa-moon";
	 } else {
	     document.cookie = "vmode=dark";
	     body.className = "dark";
	     icon.className = "far fa-sun";
	 }
     });


     // HLS init
     let hls_debug = false;

     let video_sources = {};
     let pts_init = {}
     let hls_instances = {}
     let overlay_data = {};
     let overlay = {};

     let is_broadcast = function(video) {
	 return video.getAttribute("isbroadcast") != null
     }

     document.querySelectorAll(".feed").forEach(function(video) {

	 if(is_broadcast(video)){ 
	     video_sources[video.id] = "http://172.21.32.221:6001/dynamic/" + video.getAttribute("location") + "/index.m3u8";
	 } else {
	     video_sources[video.id] = video.getAttribute("location");
	 }

	 let hls_instance = new Hls({ debug: hls_debug, backBufferLength: 90 });
	 hls_instance.loadSource(video_sources[video.id]);
	 hls_instance.attachMedia(video);
	 hls_instances[video.id] = hls_instance;

	 if(is_broadcast(video)) {
	     hls_instance.once(Hls.Events.FRAG_CHANGED, function(event,data) {
		 pts_init[video.id] = data.frag.tagList[0][1] - hls_instance._media.currentTime;
	     });
	 }


	 hls_instance.on(Hls.Events.ERROR, function(event, data) {
	     console.log(video.id + " event: " + data.type + "\n" + data.details + "\n" + data.fatal);
	 });

	 if(is_broadcast(video)) {
	     overlay_data[video.id] = []
	     overlay[video.id] = []
	 }

     });
     
     let modal_video = document.querySelector(".modal-video");

     // Autoplay
     let autoplay = setInterval(function(){
	 let done = Object.entries(video_sources).reduce(function(done, src) {
	     let video_instance = document.getElementById(src[0]);

	     if(video_instance.played.length > 0) {
		 return done;
	     } else {
		 video_instance.muted = true;		 
		 let attempt = video_instance.play();
		 attempt.catch(function(error){ console.log(error); });
		 return false;
	     }
	 }, true);

	 if(done) {
	     clearInterval(autoplay);
	 }
	 return;
	 
     }, 500);

     let add_overlay = function(time, video, origin, overlay_info) {
	 let time_adj = (time / 90000) - pts_init[origin];
	 if (isNaN(time_adj)) {
	     return
	 } else {

	     let i = 0;
	     let line = false;

	     for (; i < overlay_info.specific.length; i++) {
		 if(overlay_info.specific[i].substr(0, 8) == "Loudness") {
		     if(line) {
			 line1.append(Date.now(), parseInt(overlay_info.specific[i].split(":")[2]));
			 line = true;
		     } else {
			 line2.append(Date.now(), parseInt(overlay_info.specific[i].split(":")[2]));
		     }
		 }
	     }
	     
	     i = 0;
	     for (; i < overlay_data[origin].length; i++){
		 if(overlay_data[origin][i][0] > time) {	       
		     break;
		 }
	     }
	     overlay_data[origin].splice(i, 0, [time_adj, overlay_info]);
	     return
	 }
     };

     let update_overlay = function() {
	 Object.entries(hls_instances).reduce(function (nothing, hls) {
	     let video_source_id = hls[1]._media.getAttribute("id") || hls[1]._media.getAttribute("origin");
	     let i = 0;
	     for (; i < overlay_data[video_source_id].length && overlay_data[video_source_id][i][0] < hls[1]._media.currentTime; i++){
		 overlay[video_source_id].push(overlay_data[video_source_id][i]);
	     }
	     overlay_data[video_source_id].splice(0, i);
	 }, null);
     };

     let show_overlay = function() {

	 let modal = document.querySelector(".modal");

	 if (modal.classList.contains("is-active")) {
	     let res;

	     let origin = modal_video.getAttribute("origin");

	     if (overlay[origin].length > 0) {
		 res = overlay[origin][0][1].specific;
	     } 

	     Object.entries(overlay).reduce(function(nothing, chan) {
		 overlay[chan[0]].splice(0, 1);
		 return null;
	     }, null);

	     if(res != null && res != []) {
		 let overlay_loc = document.querySelector(".stats");
		 overlay_loc.innerHTML = "";
		 res.reduce(function(nothing, stat) {
		     let p = document.createElement("p");
		     p.innerText = stat;
		     overlay_loc.insertAdjacentElement("beforeend", p);	    
		 }, null);
	     }
	     return;
	     
	 } else {
	     res = Object.entries(overlay).reduce(function(all, chan) {
		 if(chan[1].length == 0) {
		     return all;
		 } else {
		     // first update the tooltip
		     let tooltip = chan[1][0][1].tooltip;
		     let attach_point = document.getElementById(chan[0]).parentNode.parentNode;
		     if (tooltip.length > 0) {
			 attach_point.classList.add("has-tooltip-multiline");
			 attach_point.classList.add("has-tooltip-danger");
			 attach_point.setAttribute("data-tooltip", tooltip[0]);
		     } else {
			 attach_point.classList.remove("has-tooltip-multiline");
			 attach_point.classList.remove("has-tooltip-danger");
			 attach_point.removeAttribute("data-tooltip");
		     }

		     // then get the summary result		   
		     let summary = chan[1][0][1].summary;		   
		     overlay[chan[0]].splice(0, 1);
		     return all.concat(summary);
		 }
	     }, []);
	 }
     }

     let has_broadcast =
	 Array.from(document.querySelectorAll("video")).reduce(function(has_broadcast, video) {
	     if (is_broadcast(video)) {
		 return true;
	     } else {
		 return has_broadcast;
	     }

	 }, false);

     let overlay_display_pid;
     let overlay_update_pid;
     if (has_broadcast) {
	 overlay_display_pid = setInterval(show_overlay, 250);
	 overlay_update_pid = setInterval(update_overlay, 100);    
     }

     let sound_icon_toggle = function(sound_toggle, mute) {
	 if(sound_toggle == null) {
	     return;
	 }

	 while(sound_toggle.hasChildNodes()) {
	     sound_toggle.removeChild(sound_toggle.firstChild);
	 }

	 if(mute) {
	     sound_toggle.insertAdjacentHTML("afterbegin", '<i class="fa-solid fa-lg fa-bell-slash"></i>');
	 } else {
	     sound_toggle.insertAdjacentHTML("afterbegin", '<i class="fa-solid fa-lg fa-bell"></i>');
	 }
     }
     
     document.querySelectorAll(".sound-toggle").forEach(function(e) {
	 e.addEventListener("click", () => {
	     let video = e.parentNode.childNodes[1].childNodes[1];

	     if(video.muted) {
		 video.muted = false;
		 video.removeAttribute("style");

		 sound_icon_toggle(e, false);

		 document.querySelectorAll("video").forEach(function(other) {
		     if(other.id != video.id) {			 
			 other.muted = true;
			 other.setAttribute("style", "opacity: 0.2;");
			 sound_icon_toggle(other.parentNode.parentNode.querySelector(".sound-toggle"), true)
		     }		     
		 })
		 
	     } else {		 
		 sound_icon_toggle(e, true);		 
		 video.muted = true;
		 video.setAttribute("style", "opacity: 0.2;")
	     }	     
	 });	 
     });

     // Video modal entry/exit
     document.addEventListener('DOMContentLoaded', () => {
	 // Functions to open and close a modal
	 function openModal($el) {
	     $el.classList.add('is-active');
	     document.querySelector(".chat").setAttribute("style", "display:none;");
	     document.querySelector("#affiance").setAttribute("style", "display:none;");
	     document.querySelector(".stats").removeAttribute("style");
	 }

	 function closeModal($el) {
	     $el.classList.remove('is-active');
	     let video = $el.querySelector(".modal-video");
	     let origin = video.getAttribute("origin");
	     let hls_instance = hls_instances[origin];
	     let video_instance = document.querySelector("#" + origin);
	     hls_instance.detachMedia();
	     hls_instance.attachMedia(video_instance);
	     video_instance.muted = true;
	     video_instance.play();
	     document.querySelector(".chat").removeAttribute("style");
	     document.querySelector("#affiance").removeAttribute("style");
	     document.querySelector(".stats").setAttribute("style", "display:none;");
	     document.querySelector(".stats").innerHTML = "";
	 }

	 function closeAllModals() {
	     (document.querySelectorAll('.modal') || []).forEach(($modal) => {
		 closeModal($modal);
	     });
 	 }

	 // Add a click event on buttons to open a specific modal
	 (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
	     const modal = $trigger.dataset.target;
	     const $target = document.getElementById(modal);

	     $trigger.addEventListener('click', () => {
		 openModal($target);

		 let video_instance = document.querySelector(".modal-video")
		 let origin = $trigger.childNodes[1].id;
		 let hls_instance = hls_instances[origin]; // new Hls({debug:true});
		 video_instance.setAttribute("origin", origin);
		 hls_instance.detachMedia();
		 //hls_instance.loadSource(video_sources[$trigger.childNodes[1].id]);
		 hls_instance.attachMedia(video_instance);
		 video_instance.play();
	     });
	 });

	 // Add a click event on various child elements to close the parent modal
	 (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
	     const $target = $close.closest('.modal');

	     $close.addEventListener('click', () => {
		 closeModal($target);
	     });
	 });

	 // Add a keyboard event to close all modals
	 document.addEventListener('keydown', (event) => {
	     const e = event || window.event;

	     if (e.keyCode === 27) { // Escape key
		 closeAllModals();
	     }
	 });
     });

     // Chat
     let chat = document.querySelector(".chat");
     var ws_chat;

     let channel_name = {{ .CHANNEL_NAME }};

     let engage = function () {
	 ws_chat = new WebSocket("ws://" + window.location.hostname + ":7009/chat/" + channel_name);
	 ws_chat.onclose = function() {

	     while (chat.hasChildNodes()) {
		 chat.removeChild(chat.firstChild);
	     }

	     engage ();
	 }

	 ws_chat.onmessage = function(message) {
	     let msg =
		 `<div class="columns mx-3 my-0 p-0">
		    <div class="column is-11 msg m-0 p-0" style="font-family:monospace;">`
		 + message.data +
	         `</div>
		    <div class="column msg-time has-text-right">
		    </div>
		</div>`;

	     chat.insertAdjacentHTML("beforeend", msg);
	     chat.scrollTop = chat.scrollHeight;
	 }
     }
     engage();

     let chat_send = function(event) {
	 if(event.key == "Enter") {
	     ws_chat.send(event.target.value);
	     event.target.value = "";
	 }	 
     };
    
     chat.scrollTop = chat.scrollHeight;


     // Websocket for overlay data
     var ws_overlay;

     let connect = function () {
	 ws_overlay  = new WebSocket("ws://" + window.location.hostname + ":7009/overlay");
	 ws_overlay.onclose = function() { connect (); }
	 
	 ws_overlay.onmessage = function(message) {
	     let data = JSON.parse(message.data);
	     add_overlay(data.pts, data.source, data.target, data.info);	    
	 };
     }

     connect ();

    </script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</html>
