<html>
    <head>
	<meta charset="utf-8">
	<title>insert working title here</title>

	<link rel="stylesheet" href="/static/css/style.css"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">    

	<script tyep="text/javascript" src="/static/js/smoothie.js"></script>

	<link rel="icon" type="image/png" href="https://pic.onlinewebfonts.com/svg/img_99128.png">
    </head>


    <body {{ if eq .VMODE "dark" }} class="dark" {{ end }} >
	<section class="hero is-info is-large block">
	    <div class="hero-head">
		<nav class="navbar">
		    <div class="navbar-brand">
			<a class="navbar-item mx-4" href="/">
			    <img src="https://pic.onlinewebfonts.com/svg/img_99128.png" alt="Logo">
			</a>
			<span class="navbar-burger" data-target="navbarMenuHeroB">
			    <span></span>
			    <span></span>
			    <span></span>
			</span>
		    </div>
		    <div id="navbarMenuHeroB" class="navbar-menu">
			<div class="navbar-end">
			    <a class="navbar-item mr-4" id="dark-mode-trig">
				{{ if eq .VMODE "light" }}
				<span class="icon is-left">
				    <i class="fas fa-moon"></i>
				</span>
				{{ else }}
				<span class="icon is-left">
				    <i class="far fa-sun"></i>
				</span>
				{{ end }}
			    </a>
			    <a class="navbar-item" href="/">
				Home
			    </a>
			    <a class="navbar-item" href="/about">
				About
			    </a>
			    {{ if .USER }}
			    <a class="navbar-item" href="/admin">
				Admin
			    </a>
			    {{ else }}
			    <a class="navbar-item" href="/signup">
				Signup
			    </a>
			    {{ end }}		
			</div>
		    </div>
		</nav>
	    </div>
	</section>
	<div class="feed-point">
	</div>	
	<div class="modal has-text-centered" id="video-container">
	    <div class="modal-background">
	    </div>
	    <div class="modal-content">
		<div class="is-4by3">
		    <video class="modal-video" controls></video>
		</div>
	    </div>
	    <span class="icon modal-close is-large">
		<i class="fa-regular fa-circle-xmark"></i>
	    </span>
	</div>
	<div class="overlay">
	    <div class="chat box m-0 p-0" style="overflow-y:auto;">
	    </div>

	    <div id="affiance">
		{{ if .USER }}
		<div class="control has-icons-right">
		    <input class="input" type="text" placeholder="Chatting as {{ .USER }}" style="font-family:monospace;"></input>
		    <i class="icon is-right has-text-success">
			<i class="fa-solid fa-paper-plane"></i>
		    </i>
		</div>
		{{ else if .VIEWER }}
		<div class="control has-icons-right">
		    <input class="input" type="text" placeholder="Chatting as {{ .VIEWER }}" style="font-family:monospace;"></input>
		    <i class="icon is-right has-text-success">
			<i class="fa-solid fa-paper-plane"></i>
		    </i>
		</div>
		{{ else }}
		<div class="level is-mobile">
		    <div class="level-left m-2">
			<div class="level-item">
			    <p class="title is-5 is-size-5-touch mx-2">Please sign in to enable chat.</p>
			</div>
			<div class="level-item" onclick="google_sign_in()">
			    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				<i class="fa-brands fa-google"></i>
			    </span>
			</div>
			<div class="level-item" onclick="facebook_sign_in()">
			    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				<i class="fa-brands fa-facebook"></i>
			    </span>
			</div>
			<div class="level-item" onclick="anon_sign_in()">
			    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
				<i class="fa-solid fa-hat-cowboy"></i>
			    </span>
			</div>
		    </div>
		</div>
		{{ end }}
	    </div>
	    <div class="stats box m-0 p-0" style="display:none;">	
	    </div>
	</div>
    </body>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
    <script>
     // User Authentication
     let sign_in = function (viewer) {
	 let affiance = document.querySelector("#affiance");
	 affiance.innerHTML = "";

	 let display_name;
	 if(viewer.displayName) {
	     display_name = viewer.displayName.split(' ')[0];
	 } else {
	     display_name = "anon"
	 };
	 
	 let chattable =
	     `
	<div class="control has-icons-right">
	    <input class="input" type="text" placeholder="Chatting as ` + display_name + `" style="font-family:monospace;" onkeypress="chat_send(event)"></input>
	    <span class="icon is-right has-text-success chat-submit" onclick="chat_test();">
		<i class="fa-solid fa-paper-plane"></i>
	    </span>
	</div>
	    `;
	 affiance.insertAdjacentHTML("afterbegin", chattable);
     }

     let sign_out = function () {
	 let affiance = document.querySelector("#affiance");
	 affiance.innerHTML = "";

	 let prompt =
	     `
	<div class="level is-mobile">
	    <div class="level-left m-2">
		<div class="level-item">
		    <p class="title is-5 is-size-5-touch mx-2">Please sign in to enable chat.</p>
		</div>
		<div class="level-item" onclick="google_sign_in()">
		    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
			<i class="fa-brands fa-google"></i>
		    </span>
		</div>
		<div class="level-item" onclick="facebook_sign_in()">
		    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
			<i class="fa-brands fa-facebook"></i>
		    </span>
		</div>
		<div class="level-item" onclick="anon_sign_in()">
		    <span class="icon is-left has-text-brown3 is-size-3-touch mx-2">
			<i class="fa-solid fa-hat-cowboy"></i>
		    </span>
		</div>
	    </div>
	</div>
	     `;

	 affiance.insertAdjacentHTML("afterbegin", prompt);
     }

     window.sign_in = sign_in;
     window.sign_out = sign_out;

     // Add feed
     document.querySelector(".feed-point").insertAdjacentHTML("afterbegin", {{ .FEED }});

     // HLS init
     let hls_debug = false;

     let video_sources = {};
     let hls_instances = {}

     document.querySelectorAll(".feed").forEach(function(video) {
	 video_sources[video.id] = video.getAttribute("location");

	 let hls_instance = new Hls({ debug: hls_debug, backBufferLength: 90 });
	 hls_instance.loadSource(video_sources[video.id]);
	 hls_instance.attachMedia(video);
	 hls_instances[video.id] = hls_instance;
	 
	 hls_instance.once(Hls.Events.FRAG_CHANGED, function(event,data) {
	     pts_init[video.id] = data.frag.tagList[0][1] - hls_instance._media.currentTime;
	 });


	 hls_instance.on(Hls.Events.ERROR, function(event, data) {
	     console.log(video.id + " event: " + data.type + "\n" + data.details + "\n" + data.fatal);
	 });
	 
     });
     
     let modal_video = document.querySelector(".modal-video");

     // Autoplay
     let autoplay = setInterval(function(){
	 let done = Object.entries(video_sources).reduce(function(done, src) {
	     let video_instance = document.getElementById(src[0]);

	     if(video_instance.played.length > 0) {
		 return done;
	     } else {
		 let attempt = video_instance.play();
		 attempt.catch(function(error){ console.log(error); });
		 return false;
	     }
	 }, true);

	 if(done) {
	     clearInterval(autoplay);
	 }
	 return;
	 
     }, 500);

     // Video modal entry/exit
     document.addEventListener('DOMContentLoaded', () => {
	 // Functions to open and close a modal
	 function openModal($el) {
	     $el.classList.add('is-active');
	 }

	 function closeModal($el) {
	     $el.classList.remove('is-active');
	     let video = $el.querySelector(".modal-video");
	     let origin = video.getAttribute("origin");
	     let hls_instance = hls_instances[origin];
	     let video_instance = document.querySelector("#" + origin);
	     hls_instance.detachMedia();
	     hls_instance.attachMedia(video_instance);
	     video_instance.play();
	 }

	 function closeAllModals() {
	     (document.querySelectorAll('.modal') || []).forEach(($modal) => {
		 closeModal($modal);
	     });
 	 }

	 // Add a click event on buttons to open a specific modal
	 (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
	     const modal = $trigger.dataset.target;
	     const $target = document.getElementById(modal);

	     $trigger.addEventListener('click', () => {
		 openModal($target);

		 let video_instance = document.querySelector(".modal-video")
		 let origin = $trigger.childNodes[1].id;
		 let hls_instance = hls_instances[origin]; // new Hls({debug:true});
		 video_instance.setAttribute("origin", origin);
		 hls_instance.detachMedia();
		 //hls_instance.loadSource(video_sources[$trigger.childNodes[1].id]);
		 hls_instance.attachMedia(video_instance);
		 video_instance.play();
	     });
	 });

	 // Add a click event on various child elements to close the parent modal
	 (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
	     const $target = $close.closest('.modal');

	     $close.addEventListener('click', () => {
		 closeModal($target);
	     });
	 });

	 // Add a keyboard event to close all modals
	 document.addEventListener('keydown', (event) => {
	     const e = event || window.event;

	     if (e.keyCode === 27) { // Escape key
		 closeAllModals();
	     }
	 });
     });

     // Chat
     let chat = document.querySelector(".chat");
     var ws_chat;

     let feed_name = {{ .FEED_NAME }};

     let engage = function () {
	 ws_chat = new WebSocket("ws://" + window.location.hostname + ":7009/chat/" + feed_name);
	 ws_chat.onclose = function() {

	     while (chat.hasChildNodes()) {
		 chat.removeChild(chat.firstChild);
	     }

	     engage ();
	 }

	 ws_chat.onmessage = function(message) {
	     let msg =
		 `<div class="columns mx-3 my-0 p-0">
		    <div class="column is-11 msg m-0 p-0" style="font-family:monospace;">`
		 + message.data +
	         `</div>
		    <div class="column msg-time has-text-right">
		    </div>
		</div>`;

	     chat.insertAdjacentHTML("beforeend", msg);
	     chat.scrollTop = chat.scrollHeight;
	 }
     }
     engage();

     let chat_send = function(event) {
	 if(event.key == "Enter") {
	     ws_chat.send(event.target.value);
	     event.target.value = "";
	 }	 
     };
     
     chat.scrollTop = chat.scrollHeight;
    </script>
    <script type="text/javascript" src="/static/js/index.js"></script>
</html>
