<html>
  <head>
    <meta charset="utf-8">
    <title>insert working title here</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">    
    <link rel="icon" type="image/png" href="https://pic.onlinewebfonts.com/svg/img_99128.png">
  </head>


  <body {{ if eq .VMODE "dark" }} class="dark" {{ end }} >
    <section class="hero is-info is-large block">
      <div class="hero-head">
	<nav class="navbar">
	  <div class="navbar-brand">
	    <a class="navbar-item mx-4" href="/">
	      <img src="https://pic.onlinewebfonts.com/svg/img_99128.png" alt="Logo">
	    </a>
	    <span class="navbar-burger" data-target="navbarMenuHeroB">
	      <span></span>
	      <span></span>
	      <span></span>
	    </span>
	  </div>
	  <div id="navbarMenuHeroB" class="navbar-menu">
	    <div class="navbar-end">
	      <a class="navbar-item mr-4" id="dark-mode-trig">
		{{ if eq .VMODE "light" }}
		<span class="icon is-left">
		  <i class="fas fa-moon"></i>
		</span>
		{{ else }}
		<span class="icon is-left">
		  <i class="far fa-sun"></i>
		</span>
		{{ end }}
	      </a>
	      <a class="navbar-item is-active">
		Home
	      </a>
	      <a class="navbar-item" href="/about">
		About
	      </a>
	      {{ if .USER }}
	      <a class="navbar-item" href="/admin">
		Admin
	      </a>
	      {{ else }}
	      <a class="navbar-item" href="/signup">
		Signup
	      </a>
	      {{ end }}		
	    </div>
	  </div>
	</nav>
      </div>
    </section>
    <div class="channels">
    </div>

    <div class="columns m-0 p-0">
	<div class="column is-two-thirds is-offset-2">
	    <div class="feed-point">
	    </div>
	</div>
	<!--<div class="column is-hidden-desktop is-full">
	    <div class="feed-point">
	    </div>
	</div>-->
    </div>
                    <!-- <a class="is-active">All</a>
		    <a>Auto</a>
		    <a>Animation</a>
		    <a>Classic</a>
		    <a>Cooking</a>
		    <a>Education</a>
		    <a>Economics</a>
		    <a>Family</a>
		    <a>Legislative</a>
		    <a>Music</a>
		    <a>News</a>
		    <a>Outdoor</a>
		    <a>Religious</a>
		    <a>Science</a>
		    <a>Shopping</a>
		    <a>Sports</a>
		    <a>Travel</a>
		    <a>Weather</a> -->

  </body>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/hls.js@1"></script>
  <script>
    // Dark/Light mode
    let body = document.querySelector("body");
    let toggle = document.getElementById("dark-mode-trig");
    let icon = toggle.childNodes[1].childNodes[1];
    toggle.addEventListener("click", () => {
	let check = body.classList.contains("dark");
	if (check) {
	    document.cookie = "vmode=light";
	    body.className = "";
	    icon.className = "fas fa-moon";
	} else {
	    document.cookie = "vmode=dark";
	    body.className = "dark";
	    icon.className = "far fa-sun";
	}
    });

   // Websocket for thumbnail data
   var ws_thumbnail;

   let connect = function () {
       ws_thumbnail  = new WebSocket("ws://" + window.location.hostname + ":7009/thumbnail");
       ws_thumbnail.onclose = function() { connect (); }
       
       ws_thumbnail.onmessage = function(message) {
	   data = message.data.split(",");
	   channel_id = data[0].split("=")[1];
	   feed_name = data[1].split("=")[1];
	   index = data[2].split("=")[1];
	   thumbnail = data[3];
	   let feed = document.querySelector("#" + channel_id).querySelector("#" + feed_name);
	   feed.setAttribute("index", index);
	   feed.childNodes[1].setAttribute("src", thumbnail);
       };
   };

   connect ();

   // Websocket for new feeds
   var ws_feed_point;
   var feed_init = false;
   let hls_instance;

   let get_feed = function () {
       ws_feed_point = new WebSocket("ws://" + window.location.hostname + ":7009/feed_point");

       ws_feed_point.onopen = function() {
	   if (!feed_init) {
	       ws_feed_point.send("new feed");
	   }
       };	   
       
       ws_feed_point.onclose = function() { get_feed (); };

       ws_feed_point.onmessage = function(message) {
	   document.querySelectorAll(".feed-point").forEach(function(e){
	       e.insertAdjacentHTML("afterbegin", message.data)
	   });

	   let video = document.querySelector(".feed-point video");

	   hls_instance = new Hls({ backBufferLength: 90 });
	   hls_instance.loadSource(video.getAttribute("location"));
	   hls_instance.attachMedia(video);
	   if (feed_init) {
	       video.play();
	   } else {
	       feed_init = true;
	   }
       };
   };

   get_feed();

   let feed_down = function(e) {
       if(e.target.checked) {
	   ws_feed_point.send("feed down," + e.target.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.id)
       }
   };
   

   let feed_deleted = function() {
       let feed = document.querySelector(".feed-point");
       while (feed.hasChildNodes()) {
	   feed.removeChild(feed.firstChild);
       }
       hls_instance.destroy();
       ws_feed_point.send("feed deleted");
   };

   // Add channels
   document.querySelector(".channels").insertAdjacentHTML("afterbegin", {{ .CHANNELS }});

   // Add frame animation
   let animation_pids = {}

   let random = function(max) {
       return Math.floor(Math.random() * max);
   }       
   
   document.querySelectorAll(".card").forEach(function(card){
       let card_id = card.id;

       card.addEventListener("mouseenter", function() {
	   if(!animation_pids[card_id]){
	       let pids = [];
	       card.querySelectorAll(".card-image").forEach(function(box){
		   if(box.getAttribute("isbroadcast") != null) {
		       fetch("http://172.21.32.221:6001/dynamic/"
			   + card_id + "/" + box.childNodes[1].id + "/index.m3u8");
		   }
		   let figure = box.querySelector("figure");
		   let pid = setInterval(function(){
		       let req = "";
		       req = req + "channel=" + card_id + ","
		       req = req + "feed="    + figure.id + ","
		       req = req + "index="   + figure.getAttribute("index") + ","
		       ws_thumbnail.send(req);
		   }, (800 + random(400)));
		   pids.push(pid);
	       });	       	       
	       animation_pids[card_id] = pids;
	       return;
	   } else {
	       return;
	   }
       });
       
       card.addEventListener("mouseleave", function() {
	   animation_pids[card_id].forEach(function(pid){
	       clearInterval(pid);
	   });
	   delete(animation_pids[card_id])
       });
   });

   // Mobile nav
   document.addEventListener('DOMContentLoaded', () => {

       // Get all "navbar-burger" elements
       const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

       // Add a click event on each of them
       $navbarBurgers.forEach( el => {
	   el.addEventListener('click', () => {

	       // Get the target from the "data-target" attribute
	       const target = el.dataset.target;
	       const $target = document.getElementById(target);

	       // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
	       el.classList.toggle('is-active');
	       $target.classList.toggle('is-active');

	   });
       });
   });
  </script>
</html>
