<html>
  <head>
    <meta charset="utf-8">
    <title>insert working title here</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" type="image/png" href="https://pic.onlinewebfonts.com/svg/img_99128.png">
  </head>


  <body {{ if eq .VMODE "dark" }} class="dark" {{ end }} >
    <section class="hero is-info is-large block">
      <div class="hero-head">
	<nav class="navbar">
	  <div class="container">
	    <div class="navbar-brand">
	      <a class="navbar-item" href="/">
		<img src="https://pic.onlinewebfonts.com/svg/img_99128.png" alt="Logo">
	      </a>
	      <span class="navbar-burger" data-target="navbarMenuHeroB">
		<span></span>
		<span></span>
		<span></span>
	      </span>
	    </div>
	    <div id="navbarMenuHeroB" class="navbar-menu">
	      <div class="navbar-end">
		<a class="navbar-item mr-4" id="dark-mode-trig">
		  {{ if eq .VMODE "light" }}
		  <span class="icon is-left">
		    <i class="fas fa-moon"></i>
		  </span>
		  {{ else }}
		  <span class="icon is-left">
		    <i class="far fa-sun"></i>
		  </span>
		  {{ end }}
		</a>
		<a class="navbar-item" href="/">
		  Home
		</a>
		<a class="navbar-item" href="/about">
		  About
		</a>
		<a class="navbar-item is-active">
		  Signup
		</a>
	      </div>
	    </div>
	  </div>
	</nav>
      </div>

      <div class="hero-body">
	<div class="container has-text-centered">
	  <p class="title">
	    Streaming multiple feeds has never been so easy.
	  </p>
	</div>
      </div>
    </section>

    <section class="hero is-brown1 block">
      <div class="hero-body">
	<div class="container has-text-centered">
	  <p class="title is-centered">
	    First, we just need the logo that you want to use
	  </p>

	  <div class="file has-name is-boxed is-centered">
	    <label class="file-label">
	      <input class="file-input" id="file-input" type="file">
	      <span class="file-cta">
		<span class="file-icon">
		  <i class="fa fa-upload"></i>
		</span>
		<span class="file-label">
		  Choose a file…
		</span>
	      </span>
	      <span class="file-name" style="display:none;">		
	      </span>
	    </label>
	  </div>
	  
	</div>
      </div>
    </section>

    <section class="hero is-brown2 block">
      <div class="hero-body">
	<div class="container has-text-centered">
	  <p class="title is-centered">
	    Next, a list of feeds that you need distributed!
	  </p>

	  <div class="columns is-centered is-vcentered">
	    <div class="column is-one-third">
	      <div class="field">
		<input class="input is-medium is-rounded feed-input is-last" type="text" placeholder="http://your-feed">
	      </div>
	    </div>
	    <span class="icon has-text-warning has-tooltip-multiline has-tooltip-right" style="display:none;">
	      <i class="fas fa-check-square"></i>
	    </span>
	  </div>	  
	</div>
      </div>
    </section>

    <section class="hero is-brown3 block">
      <div class="hero-body">
	<div class="container has-text-centered">
	  <p class="title is-centered">
	    Lastly, your email. 
	  </p>

	  <div class="columns is-centered">
	    <div class="column is-one-third">
	      <div class="control has-icons-left has-icons-right">
		<input class="input is-medium" type="email" placeholder="Email">
		<span class="icon is-left">
		  <i class="fas fa-envelope"></i>
		</span>
		<span class="icon is-right">
		  <i class="fas fa-check"></i>
		</span>
	      </div>
	    </div>
	  </div>	  
	</div>
      </div>
    </section>

    <section class="hero block pb-3">
      <div class="hero-foot">
	<nav class="tabs is-boxed is-fullwidth pb-5">
	  <div class="container">
	    <ul>
	      <li>
		<strong>
		  <a class="has-text">Terms of Use</a>
		</strong>
	      </li>
	      <li>
		<a class="button is-large is-link is-rounded is-outlined">
		  <strong>Please, sign me up!</strong>
		</a>
	      </li>
	      <li>
		<strong>
		  <a class="has-text">Privacy Policy</a>
		</strong>
	      </li>
	    </ul>
	  </div>
	</nav>
      </div>
    </section>

    <section class="block spacer"></section>

  </body>

  <script>

    // Dark/Light mode
    let body = document.querySelector("body");
    let toggle = document.getElementById("dark-mode-trig");
    let icon = toggle.childNodes[1].childNodes[1];
    toggle.addEventListener("click", () => {
	let check = body.classList.contains("dark");
	if (check) {
	    document.cookie = "vmode=light";
	    body.className = "";
	    icon.className = "fas fa-moon";
	} else {
	    document.cookie = "vmode=dark";
	    body.className = "dark";
	    icon.className = "far fa-sun";
	}
    });

    // File Input
    let file_input = document.getElementById("file-input");
    file_input.addEventListener("change", function(e) {
	if (e.target.files.length > 0) {
	    let file_name = document.querySelector(".file-name");
	    file_name.textContent = "your_icon.png";
	    file_name.setAttribute("style", "");
	}
    });

    // Feed input
    let new_feed_input = `
	  <div class="columns is-centered is-vcentered">
	    <div class="column is-one-third">
	      <div class="field">
		<input class="input is-medium is-rounded feed-input is-last" type="text" placeholder="http://your-feed">
	      </div>
	    </div>
	    <span class="icon has-text-warning has-tooltip-right has-tooltip-multiline" style="display:none;">
	      <i class="fas fa-check-square"></i>
	    </span>
	  </div>	  
                       `;

    let feed_input_keypress = (input) => {
	let parent = input.parentNode.parentNode.parentNode;
	let status = parent.childNodes[3];
	if (input.value.split("://").length >= 2) {
	    // Show the feed processing status
	    status.setAttribute("style", "");
	    status.classList.add("has-tooltip-active");
	    status.setAttribute("data-tooltip", "Hmm, I see you have put in some type of address but we were unable to reach it");


	    // Generate a new input form
	    if (input.classList.contains("is-last")) {
		input.classList.remove("is-last")
		parent.insertAdjacentHTML("afterend", new_feed_input);
		add_feed_input_listeners(parent.nextSibling.nextSibling.querySelector("input"));
	    }
	} else {
	    status.setAttribute("style", "display:none;")
	}
    };

    let feed_input_change = (input) => {
	let status = input.parentNode.parentNode.parentNode.childNodes[3];
	status.classList.remove("has-tooltip-active");
    };

    let add_feed_input_listeners = (input) => {
	input.addEventListener("input", feed_input_keypress.bind(null, input));
	input.addEventListener("change",   feed_input_change.bind(null, input));
    }

    let initial_feed_input = document.querySelector(".feed-input");
    add_feed_input_listeners(initial_feed_input);
    
  </script>
</html>
