@charset "utf-8";

// Bulma

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

/* 


Below are examples of how to modify bulma variables and create html style tags to tie into


*/


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$brown1: hsl(66, 9%, 35%);
$brown1-invert: findColorInvert($brown1);

$brown2: hsl(66, 9%, 37%);
$brown2-invert: findColorInvert($brown2);

$brown3: hsl(66, 9%, 39%);
$brown3-invert: findColorInvert($brown3);


// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $brown1;
//$widescreen-enabled: false;
//$fullhd-enabled: false;

// Update some of Bulma's component variables
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$custom-colors: ("brown1": ($brown1, $brown1-invert), "brown2": ($brown2, $brown2-invert), "brown3": ($brown3, $brown3-invert));

$darkA:  hsl(68, 9%, 15%);
$darkB:  hsl(68, 9%, 22%);
$darkC:  hsl(68, 9%, 29%);
//$light: hsl(68, 9%, 65%);

$important:  hsl(68, 100%, 22%);

$modal-content-width: 100%;
$modal-content-margin-mobile: 0px;

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

/* 

And here we can put any other custom styles that we might need

*/

body {
    background-color: $light;
    transition: all 1s ease;
}

body .subtitle,
body .title {
    color: $darkA;
}

body.dark {
    background-color: $darkA;
    color: $light;
}

body.dark .subtitle,
body.dark .title {
    color: $light;
}

button {
    color: $light;
    background: $darkA;
}

body.dark button {
    //background: $light;
    color: $darkA
}

body.dark .card {
    background: $light;
}

body.dark .card {
    background: $darkB;
}

body.dark .content {
    color: $light;
}

body.dark time {
    color: $light;
}

body.dark .has-text {
    color: $light;
}

body.dark .tabs.is-boxed a:hover {
    color: $darkA;
}

.card:hover {
    cursor: pointer;
}

figure:hover {
    cursor: pointer;
}

article:hover {
    cursor: pointer;
}

.overlay {
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: fixed;
    bottom: 0%;
    width: 100%;
    z-index: 50;
}

.overlay::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.overlay input {
    border-top-left-radius: none !important;
    border-top-right-radius: none !important;
}

.overlay input:focus {
    border-color: transparent !important;
}

.overlay input:hover {
    border-color: transparent !important;
}

body.dark .overlay .input {
    background: $dark;
    color: $light
}

body.dark .input::-webkit-input-placeholder {
    color: hsl(68, 15%, 50%);
}

body.dark .input::-ms-input-placeholder {
    color: hsl(68, 15%, 50%);
}

body.dark .input::-moz-placeholder {
    color: hsl(68, 15%, 50%);    
}

.chat .input {

}

.overlay .level {
    background-color: transparent;
}

.overlay .box {
    background-color: $light;
    color: $dark;
    max-height: 10em;
    min-height: 1em;
    overflow-x: hidden;
}

.overlay .stats {
    overflow-y: scroll;
}

pre {
    background-color: $light;
    color: $dark;
}

body.dark pre {
    background-color: $dark;
    color: $light;
}

body.dark .overlay .box {
    background-color: $dark;
    color: $light;
}

.overlay i {
    cursor: pointer;
}

.modal video {
    max-width: 80%;
}

.heading {
    text-transform: none !important;
    font-size: 100% !important;
}

body.dark .heading {
    color: $light
}

.media-content {
    overflow-y: hidden
}
